<!--  edit profile menu -->
<form id="edit-profile">
      <input type="text" id="update-player-surname" name="newPlayerDetails[surname]" placeholder="last name"><br>
      <input type="text" id="update-player-given-name" name="newPlayerDetails[given_name]" placeholder="first name"><br>
      <input type="email" id="update-player-email" name="newPlayerDetails[email]" placeholder="email address"><br>
      <input type="text" id="update-player-phone-number" name="newPlayerDetails[phone_number]" placeholder="phone number"><br>
      <!-- <input type="text" id="update-player-captain" name="newPlayerDetails[captain]" placeholder="captain? yes/no"><br> -->
      Are you a captain?
      <br>
      <label class="radio-inline">
        <input type="radio" name="newPlayerDetails[captain]" value="Yes" checked>Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="newPlayerDetails[captain]" value="No">No
      </label>
      <br>
      Which team are you on?
      <br>
      {{#each teams}}
        <label class="radio-inline">
          <input type="radio" name="newPlayerDetails[team_id]" value={{id}} checked>{{name}}
          <br>
        </label>
      {{/each}}
      <br>
      <input type="text" class="hidden" id="update-player-user-id" name="newPlayerDetails[user_id]" placeholder="user_id">
      <input type="submit" name="submit" class="btn btn-default" value="Update!">
</form>
