// from new template
$dark-green: #236167;
$light-green: #2c8d3d;
$purpleish: #68979b;

// from game project
$paper-white: #fefefe;
$carbon: #4e4e4e;
$plain-grey: #e5e5e5;
$plain-white: #fff;
$plain-black: #000;
$board-hover-blue: #7db8ff;
$border-grey: #1f1f1f;

// colors for input validation
$invalid-red: #8b0000;
$admin-red: #f00;
$non-admin-blue: #00b;
$valid-green: #008000;

@function tint($color, $percentage) {
  @return mix($plain-white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($plain-black, $color, $percentage);
}
