// from new template
$dark-green: #236167;
$light-green: #2c8d3d;
$purpleish: #68979b;

// from game project
$paper-white: #fefefe;
$carbon: #4e4e4e;
$plain-grey: #e5e5e5;
$plain-white: #fff;
$plain-black: #000;
$board-hover-blue: #7db8ff;
$border-grey: #1f1f1f;
