$main-background-color: $paper-white;
$secondary-background: $plain-grey;
$font-color: $carbon;

body {
  background-color: $main-background-color;
  color: $font-color;
}

h2 {
  color: $secondary-background;
}

nav {
  margin-bottom: 1%;
  margin-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: right;
}

.standings {
  margin: 10%;
}

.standings-cell {
  border: 1px solid tint($carbon, 33%);
  text-align: center;
}

.nav {
  @include make-row();
  margin-left: 75%;

  .nav-button {
    @include make-lg-column(3);
    @include make-md-column(3);
    @include make-sm-column(3);
    @include make-xs-column(3);
  }
}
