$main-background-color: $paper-white;
$secondary-background: $plain-grey;
$font-color: $carbon;

body {
  background-color: $main-background-color;
  color: $font-color;
  font-size: 2em;
}

h2 {
  color: $secondary-background;
}

nav {
  margin-bottom: 1%;
  margin-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: right;
}

.page-state-title {
  float: left;
  font-weight: bold;
  text-align: left;
}

.standings {
  margin: 10%;
}

.standings-header {
  font-weight: bold;
}

.standings-cell {
  border: 1px solid tint($carbon, 33%);
  line-height: 40px;
  min-height: 40px;
  // padding-bottom: 20px;
  text-align: center;
}

.content {
  margin: 10%;
}

.content-header {
  font-weight: bold;
}

.content-cell {
  border: 1px solid tint($carbon, 33%);
  line-height: 40px;
  min-height: 40px;
  // padding-bottom: 20px;
  text-align: center;
}

.team-name .person-name {
  text-align: left;
}

.profile {
  text-align: left;
}

.profile-table {
  margin-right: 40%;
  width: 60%;
}

.nav {
  @include make-row();
  margin-left: 75%;

  .nav-button {
    @include make-lg-column(3);
    @include make-md-column(3);
    @include make-sm-column(3);
    @include make-xs-column(3);
  }
}
